<div class="header_wrap">
	<h1 class="text-center">Recommended League of Legends videos</h1>	
</div>
<div class="container">
	<div class="row">
		<% @references.each do |ref| %>
			<div class="col-sm-6 voffset2">
				<div class="well no-border text-center">
					<iframe width="420" height="315" src="<%= ref.video.embed_url %>" frameborder="0" allowfullscreen></iframe>
					<p class="text-left voffset2">
						<%= link_to "#{ref.count} reddit comments", show_video_path(ref.video.id), class: 'btn btn-primary'  %>
						<br><br>
						<% @vid_by_sub[ref.video.id].each do |subreddit| %>
							<span class="label label-primary"><%= subreddit %></span>
						<% end %>
					</p>
				</div>
			</div>
		<% end %>
	</div>
</div>
<style type="text/css">
	.header_wrap {
		background: url(<%= image_path 'header_art.jpg' %>) no-repeat center center;
		color: #FFF;
		padding: 40px;
		text-align: center;
	}

	h1 {
		background-color: #222;
		background-color: rgba(0,0,0,.7);
		display: inline-block;
		padding: 20px;
	}

	body {
		background: #111;
	}

	a {
		text-decoration: underline;
		color: #1095C7;
	}
</style>