/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .vnooffset, .voffset0 { margin-top: 0px; }
 .voffset  { margin-top: 2px; }
 .voffset1 { margin-top: 5px; }
 .voffset2 { margin-top: 10px; }
 .voffset3 { margin-top: 15px; }
 .voffset4 { margin-top: 30px; }
 .voffset5 { margin-top: 40px; }
 .voffset6 { margin-top: 60px; }
 .voffset7 { margin-top: 80px; }
 .voffset8 { margin-top: 100px; }
 .voffset9 { margin-top: 150px; }
 .vboffset0 { margin-bottom: 0px; }
 .vboffset1 { margin-bottom: 5px; }
 .vboffset2 { margin-bottom: 10px; }
 .vboffset3 { margin-bottom: 15px; }
 .vroffset1,.roffset1 { margin-right: 5px; }
 .vroffset2,.roffset2 { margin-right: 10px; }
 .roffset3 { margin-right: 15px; }
 .roffset4 { margin-right: 30px; }
 .loffset { margin-left: 2px; }
 .loffset1 { margin-left: 5px; }
 .loffset2 { margin-left: 10px; }
 .loffset3 { margin-left: 15px; }
 .loffset4 { margin-left: 30px; }

 .text-sm {
 	font-size: .85em;
 }

 .header_wrap {
 	color: #FFF;
 	padding: 40px;
 	text-align: center;
 }

 .header_wrap a {
	color: #FFF;
	text-decoration: none;
 }

 .header_wrap a:hover {
	color: #AAF5A8;
 }

 h1 {
 	background-color: #222;
 	background-color: rgba(0,0,0,.7);
 	display: inline-block;
 	padding: 20px;
 	border-radius: 2px;
 }

 body {
 	background: #111;
 }

 a {

 	color: #1095C7;
 }

 span.label a {
 	color: #FFF;

 }

 .text-white {
 	color: #FFF;
 }

 ol.breadcrumb {
 	border-radius: 0px;
 	background-color: #191824;
 }

 .comments iframe {
 	max-width: 1200px !important;
 }