/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* colors */
.bg-primary { background: #0AC92B; /* green */ }

h1.text-center.bg-primary span { 
	color: #555; /* grey */ 
} 

h1.text-center.bg-primary {
	font-size: 20px;
}


 .vnooffset, .voffset0 { margin-top: 0px; }
 .voffset  { margin-top: 2px; }
 .voffset1 { margin-top: 5px; }
 .voffset2 { margin-top: 10px; }
 .voffset3 { margin-top: 15px; }
 .voffset4 { margin-top: 30px; }
 .voffset5 { margin-top: 40px; }
 .voffset6 { margin-top: 60px; }
 .voffset7 { margin-top: 80px; }
 .voffset8 { margin-top: 100px; }
 .voffset9 { margin-top: 150px; }
 .vboffset0 { margin-bottom: 0px; }
 .vboffset1 { margin-bottom: 5px; }
 .vboffset2 { margin-bottom: 10px; }
 .vboffset3 { margin-bottom: 15px; }
 .vroffset1,.roffset1 { margin-right: 5px; }
 .vroffset2,.roffset2 { margin-right: 10px; }
 .roffset3 { margin-right: 15px; }
 .roffset4 { margin-right: 30px; }
 .loffset { margin-left: 2px; }
 .loffset1 { margin-left: 5px; }
 .loffset2 { margin-left: 10px; }
 .loffset3 { margin-left: 15px; }
 .loffset4 { margin-left: 30px; }

 .text-sm {
 	font-size: .85em;
 }

 body .header_wrap {
 	font-family: 'arial black';
 	color: #FFF;
 	padding: 20px;
 	text-align: left;
 }

 .header_wrap a {
	color: #FFF;
	text-decoration: none;
 }

 .header_wrap a:hover {
	color: #AAF5A8;
 }

	body .header_wrap.lolart {
		background-image: url('/images/games/lolheaderart_01.jpg');
		background-repeat: no-repeat;
		background-position: center center;
	}


 h1 {
 	background-color: #222;
 	background-color: rgba(0,0,0,.7);
 	display: inline-block;
 	padding: 20px;
 	border-radius: 5px;
 }

 body {
 	background: #000;
 }

.container {
	background-color: #2F2F2F;
}



.breadcrumb>.active { 
	color: #ccc; 
	letter-spacing: .75px;
}

 a {

 	color: #1095C7;
 }

span.label {
	letter-spacing: .75px;
 	padding: 3%;
 	font-weight: normal;
 	background: #fff;
 	color: #555;
}

 span.label a {
 	color: #555;
 }

.well { 
	border: 0px; 
	box-shadow: none;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

 .text-white {
 	color: #FFF;
 }

 ol.breadcrumb {
 	border-radius: 0px;
 	background-color: #555;
 }

 .comments iframe {
 	max-width: 1200px !important;
 	box-shadow: none !important;
 }

.reddit-embed-footer { display: none !important; }
