<!DOCTYPE html>
<html>
	<head>
		<title>Leaguevids</title>
		<%= csrf_meta_tags %>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
		<%= stylesheet_link_tag    "application", media: "all" %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
